body{
  background-color: #1E1E1E;
}
.a {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../img/model.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.b {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.c {
  width: 100%;
  display: flex;
  flex-direction: column;

}

.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.logo {
  width: 300px;
  height: 40px;
}

.logo a{
  margin-left: 50px;
  color: #FFFFFF;
  font-family: 'Poppins';
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.025em;
}

.menus {
  display: flex;
  justify-content: end;
  width: 80%;
  font-family: "Poppins";
  font-style: normal;
  list-style: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

}

.menus ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu-links{
  margin-right: 100px;
}

.alinks{
  color: #FFFFFF;
  text-decoration: none;
  transition: color 0,4s ease;
    opacity: 0,4s ease;
}

.alinks:hover{
  color: #E0FF65;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.lila-models{
  margin-left: 50px;
  font-family: "Encode Sans";
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 120px;
  line-height: 100px;
  letter-spacing: 0.2em;
  color: #E0FF65;
}

.lagos{
  font-family: 'Encode Sans';
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  margin-top: 24px;
  margin-left: 50px;
}

.main-text{
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  margin-top: 89px;
  margin-left: 50px;
}

.promo-button{
  background: #E0FF65;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  padding: 19px 64px;
  margin-top: 40px;
  margin-left: 50px;
  margin-bottom: 100px;
}

.d{
  width: 100px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.social-links img{
  width: 20px;
  margin: 5px auto;
  cursor: pointer;
}

.social-links img{
  padding: 15px;
}

.social-links{
  width: 50px;
  height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(50%);
}
.social-links img:hover{
  border: 1px solid #FFFFFF;
}